/*
h1
h2
h3
h4
h5
h6
h7
*/

h1{
    font-size: 2rem;
    color: rgb(233, 255, 255);
    padding: 2rem 0;
}
h2{
    font-size: 3rem;
    color: rgb(255, 200, 97);
    padding: 1rem 0;
}
.titre_decoration{
    font-weight: bold;
   /* text-decoration: underline;*/
}